extends layout

block content  
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') Type
        th(scope='col') Firing
        th(scope='col') Edited
    tbody#tbl-tags